<template>
    <div>
        <b-row>
          <b-col><Sidenav isActive="home"/></b-col>
        </b-row>
      <div class="main-content">
        <div class="home">
        <div class="row d-flex justify-content-center">
          <div class="col-6">
            <h5 class="font-weight-bold mb-4"></h5>
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Grade</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        
                        <td>NSTP</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        
                        <td>Java Programming</td>
                        <td class="text-success font-weight-bold">2.5</td>
                      </tr>
                      <tr>
                        
                        
                        <td>Capstone 2</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        
                        <td>Algebra</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                        <td>Physical Education</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      <tr>
                      </tr>
                        <td>Ethics</td>
                        <td class="text-success font-weight-bold">2.0</td>
                      <tr>
                      </tr>
                        <td>Philippine History</td>
                        <td class="text-success font-weight-bold">2.0</td>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</template>


<script>
import Sidenav from './Sidenav.vue'

export default {
  name: 'App',
  components: {
    Sidenav
  }
}
</script>

<style scoped>
@import url("../../assets/style.css");
</style>