<template>
    <div>
      <b-row>
      <b-col><Sidenav isActive="dashboard"/></b-col>
    </b-row>
      <div class="main-content">
        <div class="row">
          <div class="col-6">
            <h5 class="font-weight-bold mb-4 title"><i class="fas fa-user-clock text-primary"></i> Students w/Pending Grades</h5>
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Grade Status</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-danger font-weight-bold">INC</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 pl-0">
            
            <h5 class="font-weight-bold mb-4 title"><i class="fas fa-user-check text-success"></i> Students w/Complete Grades</h5>
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Final Grade</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td>John Doe</td>
                        <td class="text-success font-weight-bold">1.0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
import Sidenav from './Sidenav.vue'

export default {
  name: 'StudentDashboard',
  components: {
    Sidenav
  }
}
</script>

<style scoped>
@import url("../assets/style.css");
</style>