<template>
<div>
  <div class="cover"></div>
  <div class="login">
    <div class="top">
      <h2 class="lnu">Leyte Normal University</h2>
      <h3 class="lnu">Student Portal</h3>
    </div>
      <div class="logo"><b-img class="logopicL" src="../assets/img/d.png"></b-img></div>
    <div><h2 class="welcome">Please Login</h2></div>

    <div class="form">
      <b-form>
      <b-form-input
        id=""
        class="inputUser"
        placeholder="ID Number"
      ></b-form-input>

      <b-form-input
        id=""
        class="inputPass"
        placeholder="Password"
        type="password"
      ></b-form-input>

      <b-form-checkbox class="remember">Remember me</b-form-checkbox>

      <router-link to="/students"><b-button variant="primary">Login</b-button></router-link>
    </b-form>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  props: {
    msg: String
  }
}
</script>

<style scoped>
@import url("../assets/style.css");
</style>
