<template>
  <div>
    <b-navbar class="navi">
    <b-navbar-brand>
      <img class="logopic" src="../assets/img/logo.png" alt="logo">
    </b-navbar-brand>
    <h3 class="schoolName">LEYTE NORMAL UNIVERSITY</h3>
  </b-navbar>
  </div>
</template>

<style scoped>
@import url("../assets/style.css");
</style>