<template>
<div>
<Navbar/>
  <div id="vue" class="sidenavi">
    <b-img src="../assets/img/userIcon.png" class="userIcon" center fluid></b-img>
    <p class="userName">John Doe</p>
    <router-link to="/dashboard"><button class="button" :class = "isActive == 'dashboard' ? 'active' : ' ' "><i class="fas fa-chart-line"></i><a class="text-white">Dashboard</a></button></router-link>
    <router-link to="/students"><button class="button" :class = "isActive == 'students' ? 'active' : ' ' "><i class="fas fa-users"></i><a class="text-white">Students</a></button></router-link>   
    <router-link to="/Login"><button class="button" :class = "isActive == 'logout' ? 'active' : ' ' "><i class="fas fa-sign-out-alt mr-1"></i><a class="text-white">Logout</a></button></router-link>
    </div>
</div>
</template>

<script>
import Navbar from './Navbar.vue'
export default {
props: ["isActive"],  
  components: {
    Navbar
  },
  name: 'Sidenav'
}
</script>

<style scoped>
@import url("../assets/style.css");
</style>