<template>
    <div>
        <b-row>
          <b-col><Sidenav isActive="students"/></b-col>
        </b-row>
      <div class="main-content">
        <div class="row">
          <div class="col-6">
            <h5 class="font-weight-bold mb-4 title"><i class="fas fa-user text-primary"></i> 4th Year</h5>
            <div class="card">
               <form class="d-flex px-3">
        <input class="form-control mt-3 rounded-pill" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mt-3 ms-3 rounded-circle" type="submit"><i class="fas fa-search"></i></button>
      </form>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="text-center">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Section</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1803021</td>
                        <td class="font-weight-bold">John Doe</td>
                        <td class="text-dark font-weight-bold">BSIT 34</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 pl-0">
            
            <h5 class="font-weight-bold mb-4 title"><i class="fas fa-user text-warning"></i> John Doe</h5>
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="text-center">
                      <tr>
                        <th scope="col">Grades</th>
                        <th scope="col">Subject</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td class="font-weight-bold">1.0</td>
                        <td>NSTP</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">2.5</td>
                        <td>JAVA PROGRAMMING 4</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1.0</td>
                        <td>CAPSTONE 2</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">1.0</td>
                        <td>ALGEBRA</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
import Sidenav from './Sidenav.vue'

export default {
  name: 'App',
  components: {
    Sidenav
  }
}
</script>

<style scoped>
@import url("../assets/style.css");
</style>