/*Dashboard*/

*{
  box-sizing: border-box;
  transition: all 0.5s;
}
.main-content{
    margin-top: 8%;
    margin-left: 20%;
    overflow: hidden !important;
    text-align: center;
  
  }
  .main-content .home{
    margin-top: 0px !important;
    margin-left: 0px !important;
    overflow: hidden !important;
  }

  .card{
    max-width: 500px;
    width: 100%;
    max-height: 400px !important;
    height: 100% !important;
    overflow-y: scroll;
  }

  .title {
    text-align: left;
  }

  /*Login*/
  
  .login {
    width: 35%;
    height: 100vh;
    float: left;
  }
  
  .top {
  width: 100%;
  height: 30%;
  background: darkblue;
  }
  
  .logo {
    text-align: center;
    position: relative;
    top: -7.5%;
  }

  .logopicL {
    height: 15vh;
  }
  
  .cover {
    width: 65%;
    height: 100vh;
    float: left;
    padding: 15px;
    background: url("../assets/img/lnucover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2.welcome{
    text-align: center;
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
  }
  
   /*Navbar*/
  h2.lnu{
    text-align: center;
    color: #E4A70A;
    font-size: 2vw;
    padding-top: 7%;
  }
  
  h3.lnu{
    text-align: center;
    color: #E4A70A;
    font-size: 1.5vw;
    padding-top: 2%;
  }
  
  .inputPass, .inputUser, .remember {
    width: 70%;
  }
  .form {
    margin-left: 20%;
  }
  .inputUser, .inputPass {
    margin-top: 3%;
  }
  
  .remember {
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 15px;
  }

  .navi {
    background-color: #0D3FA0;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .ml-auto {
    border: 0;
    background: transparent;
    height: 40px;
    width: 80px;
    color: white;
  }
  
  .ml-auto:hover{
    background: rgba(241, 226, 226, 0.1);
    float: right;
  }
  
  .schoolName {
      color: #F1A91E;
  }

/*Sidenav*/
.sidenavi {
    width: 13%;
    overflow-x: hidden;
    height: 100%;
    position: fixed;
    background-color: #0D3FA0;
    z-index: 3;
    transition: all 250ms ease-in-out;
  }
  
  .button {
      background-color: transparent;
      border: none;
      padding: 10px;
      cursor: pointer;
      text-align: left;
      width: 300px;
  }
  
  .button:focus {
    outline: 0;
  }
  
  button.active {
    background: rgba(241, 226, 226, 0.4);
    outline: none;
  }
  
  .button:hover{
    background: rgba(241, 226, 226, 0.1);
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    outline: none;
  }
  
  .text-white {
    font-size: 1rem;
  }
  
  .fa-chart-line, .fa-users, .fa-sign-out-alt {
    color: white;
    margin-left: 4%;
    margin-right: 4%;
  }

  .userIcon {
    height: 17vh;
    width: 10vw;
  }
  
  .userName {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
  }