<template>
  <div id="app">
    <b-row>
      <b-col><Sidenav isActive="students"/></b-col>
      <b-col><Sidenav isActive="home"/></b-col>
    </b-row>
      <router-view></router-view>
  </div>
</template>
